#
# Printer Setup
#

# Printer Connection: usb or network
MARKY_TYPE=usb

# USB, get this information by running `lsusb` while your printer is connected. You should see something like this:
# Bus 001 Device 094: ID 04b8:0e20 Seiko Epson Corp. TM-m30-ii
MARKY_VENDOR_ID=0x04b8
MARKY_PRODUCT_ID=0x0e20

# in_ep and out_ep are the USB endpoints for your printer. You can get this
# information by running `lsusb -v` and looking for the "Endpoint Descriptor"
# section under your printer's entry. Look for the "bEndpointAddress" field to
# find the endpoint addresses.
MARKY_IN_EP=0x82
MARKY_OUT_EP=0x01

# Network, how you get this information depends on which printer you have.
MARKY_IP=192.168.1.100
MARKY_PORT=9100

#
# Configuration Setup
#

# Number of lines to print before truncating output to avoid printing out LOTR.
MARKY_MAX_LINES=30

# Max line width supported by the printer for text-wrapping.
MARKY_LINE_WIDTH=48

# ESC/POS text font. Try `a` or `b`. `b` is commonly the smaller text font.
MARKY_FONT=a
